<a href="/">Home</a>
<a href="/login">Login</a>
<!-- <a href="/register">Register</a> -->
<!-- <a href="/forgotpassword">Forgotpassword</a> -->

<!-- <a href="/calendar">Calendar</a> -->
<!-- <a href="/booking">Booking</a> -->


<hr>