<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Cuba admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
  <meta name="keywords"
    content="admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app">
  <meta name="author" content="pixelstrap">
  <link rel="icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <title>Registration</title>
  <!-- Google font-->
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
  <!-- ico-font-->
  <link rel="stylesheet" type="text/css" href="/css/vendors/icofont.css">
  <!-- Themify icon-->
  <link rel="stylesheet" type="text/css" href="/css/vendors/themify.css">
  <!-- Flag icon-->
  <link rel="stylesheet" type="text/css" href="/css/vendors/flag-icon.css">
  <!-- Feather icon-->
  <link rel="stylesheet" type="text/css" href="/css/vendors/feather-icon.css">
  <!-- Plugins css start-->
  <link rel="stylesheet" type="text/css" href="/css/vendors/animate.css">
  <!-- Plugins css Ends-->
  <!-- Bootstrap css-->
  <link rel="stylesheet" type="text/css" href="/css/vendors/bootstrap.css">
  <!-- App css-->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link id="color" rel="stylesheet" href="/css/color-1.css" media="screen">
  <!-- Responsive css-->
  <link rel="stylesheet" type="text/css" href="/css/responsive.css">
</head>

<body>
   
  <!-- login page start-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-0">
        <div>
          <div class="theme-form">
            <div class="wizard-4" id="wizard">
              <ul>
                <li><a class="logo text-start ps-0" href="index.html">
                    <img class="img-fluid for-light" src="/images/logo/logo.png" alt="looginpage">
                    <img class="img-fluid for-dark" src="/images/logo/logo_dark.png" alt="looginpage">
                  </a></li>
                <li><a href="#step-1">
                    <h4>1</h4>
                    <h5>personal</h5><small>Add personal details</small>
                  </a></li>
                <li><a href="#step-2">
                    <h4>2</h4>
                    <h5>Address</h5><small>Add additional info</small>
                  </a></li>
                <li><a href="#step-3">
                    <h4>3</h4>
                    <h5>Message</h5><small>Add message(optional)</small>
                  </a></li>
                <li class="pb-0"><a href="#step-4">
                    <h4>4</h4>
                    <h5> Done <i class="fa fa-thumbs-o-up"></i></h5><small>Complete.. !</small>
                  </a></li>
                <li> <img src="/images/login/icon.png" alt="looginpage"></li>
              </ul>
              <!-- Registration 1 -->
              <div id="step-1">
                <div class="wizard-title">
                  <h2>Sign up to account</h2>
                  <h5 class="text-muted mb-4">Enter your email & password to login</h5>
                </div>
                <div class="login-main">
                  <div class="theme-form">
                    <div class="form-group mb-3">
                      <label for="name">Your Name</label>
                      <div class="row g-2">
                        <div class="col-md-6 col-lg-6">
                          <input class="form-control" id="name" type="text" placeholder="First name"
                            required="required">
                        </div>
                        <div class="col-md-6 col-lg-6">
                          <input class="form-control" id="name" type="text" placeholder="Last name" required="required">
                        </div>
                      </div>
                    </div>

                    <div class="form-group mb-3">
                      <label for="Businessname">Your Business Name</label>
                      <input class="form-control" id="Businessname" type="text" placeholder="ABC boarding">
                    </div>
                    <div class="form-group mb-3">
                      <label for="name">Your Phone number</label>
                      <div class="row g-2">
                        <div class="col-md-2 col-lg-2">
                          <input class="form-control" id="code" type="text" placeholder="+91" required="required"
                            disabled>
                        </div>
                        <div class="col-md-10 col-lg-10">
                          <input class="form-control" id="mobileno" type="text" placeholder="9876543210"
                            required="required">
                        </div>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="city">In which city are you based?</label>
                      <div class="row g-2">
                        <div class="col-md-6 col-lg-6">
                          <input class="form-control" id="city" type="text" placeholder="City" required="required">
                        </div>
                        <div class="col-md-6 col-lg-6">
                          <input class="form-control" id="city" type="text" placeholder="Pincode" required="required">
                        </div>
                      </div>
                    </div>

                    <div class="form-group mb-3">
                      <label for="email">Email Address</label>
                      <input class="form-control" id="email" type="text" placeholder="Test@gmail.com">
                    </div>
                    <!-- <div class="form-group mb-3">
                      <label class="col-form-label">Password</label>
                      <div class="form-input position-relative">
                        <input class="form-control" type="password" name="login[password]" required="" placeholder="*********">
                        <div class="show-hide"><span class="show"></span></div>
                      </div>
                    </div> -->
                    <div class="form-group mb-3">
                      <label for="contact">Password</label>
                      <div class="form-input position-relative ">
                        <input class="form-control" id="contact" type="password" placeholder="Password" name="login[password]">
                        <div class="show-hide" ><span class="show" ></span></div>
                      </div>
                      
                    </div>
                    <div class="form-group mb-3">
                      <label for="contact">Confirm Password</label>
                      <input class="form-control" id="contact" type="password" placeholder="Enter again">
                    </div>
                  </div>
                </div>
              </div>
              <!-- Registration 2 -->
              <div id="step-2">
                <div class="wizard-title">
                  <h2>Sign up to account</h2>
                  <h5 class="text-muted mb-4">Enter your email & password to login</h5>
                </div>
                <div class="login-main">
                  <div class="theme-form">
                    <!-- <div class="form-group mb-3 m-t-15">
                      <label for="exampleFormControlInput1">Business Name</label>
                      <input class="form-control" id="exampleFormControlInput1" type="name" placeholder="Example Name">
                    </div> -->
                    <div class="form-group mb-3">
                      <label for="exampleInputPassword1">No. of people in term</label>
                      <input class="form-control" id="exampleInputPassword1" type="number" placeholder="No">
                    </div>
                    <div class="form-group mb-3">
                      <label for="exampleInputPassword1">Business Type</label>
                      <div class="row">
                        <div class="col-md-6 col-lg-3">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox1" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox1">Border</label>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox2" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox2">Groomer</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="exampleInputPassword1">Pets you Cater to:</label>
                      <div class="row">
                        <div class="col-md-6 col-lg-3">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox3" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox3">Dogs</label>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox4" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox4">Cats</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="exampleInputYear"><b>For how many years have you been in business?</b></label>
                      <input class="form-control" id="exampleInputYear" type="text" placeholder="5 years">
                    </div>
                    <div class="form-group mb-3">
                      <label for="exampleInputclient"><b>On average,how large is your total client database?</b></label>
                      <p>By this we mean how many total clients you`ve worked with inthe last years </p>
                      <div class="row">
                        <div class="col-md-auto col-lg-auto">
                          <div class="form-check radio radio-dark mb-0">
                            <input class="form-check-input " id="radio1" type="radio" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="radio1">less than 100</label>
                          </div>
                        </div>
                        <div class="col-md-auto col-lg-auto">
                          <div class="form-check radio radio-dark mb-0">
                            <input class="form-check-input " id="radio2" type="radio" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="radio2">100-500</label>
                          </div>
                        </div>
                        <div class="col-md-auto col-lg-auto">
                          <div class="form-check radio radio-dark mb-0">
                            <input class="form-check-input " id="radio3" type="radio" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="radio3">500-1,000</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-auto col-lg-auto">
                          <div class="form-check radio radio-dark mb-0">
                            <input class="form-check-input " id="radio4" type="radio" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="radio4">1,000-3,000</label>
                          </div>
                        </div>
                        <div class="col-md-auto col-lg-auto">
                          <div class="form-check radio radio-dark mb-0">
                            <input class="form-check-input " id="radio5" type="radio" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="radio5">3000-5000</label>
                          </div>
                        </div>
                        <div class="col-md-auto col-lg-auto">
                          <div class="form-check radio radio-dark mb-0">
                            <input class="form-check-input " id="radio6" type="radio" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="radio6">more than 10000</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form-group mb-3">
                      <label for="exampleInputclient"><b>On what devices will you be using Pettle *</b></label>
                      <div class="row">
                        <div class="col-md-auto col-lg-auto">
                          <div class="form-check checkbox checkbox-dark mb-0">
                            <input class="form-check-input " id="checkbox1" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox1">Android Phone</label>
                          </div>
                        </div>
                        <div class="col-md-auto col-lg-auto">
                          <div class="form-check checkbox checkbox-dark mb-0">
                            <input class="form-check-input " id="checkbox2" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox">iPhone</label>
                          </div>
                        </div>
                        <div class="col-md-auto col-lg-auto">
                          <div class="form-check checkbox checkbox-dark mb-0">
                            <input class="form-check-input " id="checkbox3" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox3">Laptop</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-auto col-lg-auto">
                          <div class="form-check checkbox checkbox-dark mb-0">
                            <input class="form-check-input " id="checkbox4" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox4">Android Tablet</label>
                          </div>
                        </div>
                        <div class="col-md-auto col-lg-auto">
                          <div class="form-check checkbox checkbox-dark mb-0">
                            <input class="form-check-input " id="checkbox5" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox5">iPad</label>
                          </div>
                        </div>
                        <div class="col-md-auto col-lg-auto">
                          <div class="form-check checkbox checkbox-dark mb-0">
                            <input class="form-check-input " id="checkbox6" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox6">Desktop</label>
                          </div>
                        </div>
                      </div>
                    </div> -->

                  </div>
                </div>
              </div>
              <!-- Registration 3 -->
              <div id="step-3">
                <div class="wizard-title">
                  <h2>Sign up to account</h2>
                  <h5 class="text-muted mb-4">Enter your email & password to login</h5>
                </div>
                <div class="login-main">
                  <div class="theme-form">
                    <div class="form-group mb-3">
                      <label for="exampleInputPassword1"><b>On average, how many grooming sessions do you do per day?(What's your total capacity?)</b></label>
                      <input class="form-control" id="exampleInputPassword1" type="number" placeholder="20">
                    </div>
                    <div class="form-group mb-3">
                      <label for="exampleInputPassword2"><b>On average, how much do you charge per grooming sessions?(in INR?)</b></label>
                      <p>We understand rates vary drastically around breeds & services, we're only asking for an average</p>
                      <input class="form-control" id="exampleInputPassword2" type="number" placeholder="500">
                    </div>
                    <div class="form-group mb-3">
                      <label for="exampleInputPassword3">On which of these days are you open?</label>
                      <div class="row">
                        <div class="col-md-3 col-lg-3 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox11" type="checkbox" data-bs-original-title=""
                              title="" >
                            <label class="form-check-label my-0" for="checkbox11">All Days</label>
                          </div>
                        </div>
                        <div class="col-md-3 col-lg-3 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox12" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox12">Monday</label>
                          </div>
                        </div>
                        <div class="col-md-3 col-lg-3 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox13" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox13">Wednesday</label>
                          </div>
                        </div>
                        <div class="col-md-3 col-lg-3 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox14" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox14">Friday</label>
                          </div>
                        </div>
                        <!-- others -->
                        <div class="col-md-3 col-lg-3 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox15" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox15">Sunday</label>
                          </div>
                        </div>
                        <div class="col-md-3 col-lg-3 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox16" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox16">Tuesday</label>
                          </div>
                        </div>
                        <div class="col-md-3 col-lg-3 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox17" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox17">Thursday</label>
                          </div>
                        </div>
                        <div class="col-md-3 col-lg-3 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox18" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox18">Saturday</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Groomer -->
                    <div class="form-group mb-3 m-t-15">
                      <!-- <h4>Groomer</h4> -->
                      <label for="exampleFormControlInput1"><b>On which of these days are you open?</b></label>
                      <div class="row g-2">
                        <div class="col-md-6  col-lg-6">
                          <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Start Time">
                        </div>
                        <div class="col-md-6  col-lg-6">
                          <input class="form-control" id="exampleInputPassword1" type="text" placeholder="End Time">
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form-group mb-3">
                      <label for="exampleInputPassword4"><b>Any exceptionsto these working days & hours?</b> </label>
                      <p>For example- Different hours on weekend, half days on Mondays etc.</p>
                      <input class="form-control" id="exampleInputPassword4" type="text" placeholder="half day on Sunday">
                    </div> -->
                  </div>
                </div>
                <br>

              </div>
              <!-- Registration 4 -->
              <div id="step-4">
                <div class="wizard-title">
                  <h2>Sign up to account</h2>
                  <h5 class="text-muted mb-4">Enter your email & password to login</h5>
                </div>
                <div class="login-main">
                  <div class="theme-form">
                    <div class="form-group mb-3">
                      <label for="exampleInputPassword11"><b>How many kennels do you have? (What's your total capacity?)</b></label>
                      <input class="form-control" id="exampleInputPassword11" type="number" placeholder="20">
                    </div>
                    <div class="form-group mb-3">
                      <label for="exampleInputPassword12"><b>On average, how much do you charge per day?(in INR?)</b></label>
                      <input class="form-control" id="exampleInputPassword12" type="number" placeholder="20">
                    </div>
                    <div class="form-group mb-3">
                      <label for="exampleInputPassword13"><b>Do you offer any of the following add-on services?</b></label>
                      <div class="row">
                        <div class="col-md-4 col-lg-4 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox21" type="checkbox" data-bs-original-title=""
                              title="" >
                            <label class="form-check-label my-0" for="checkbox21">No add-on services</label>
                          </div>
                        </div>
                        <div class="col-md-4 col-lg-4 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox22" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox22">Swimming</label>
                          </div>
                        </div>
                        <div class="col-md-4 col-lg-4 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox23" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox23">Vet care</label>
                          </div>
                        </div>
                        <!-- 2rd row -->
                        <div class="col-md-4 col-lg-4 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox24" type="checkbox" data-bs-original-title=""
                              title="" >
                            <label class="form-check-label my-0" for="checkbox24">Grooming</label>
                          </div>
                        </div>
                        <div class="col-md-4 col-lg-4 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox25" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox25">Training</label>
                          </div>
                        </div>
                        <div class="col-md-4 col-lg-4 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox26" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox26">Vaccination</label>
                          </div>
                        </div>
                        <!-- 3rd row -->
                        <div class="col-md-4 col-lg-4 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox27" type="checkbox" data-bs-original-title=""
                              title="" >
                            <label class="form-check-label my-0" for="checkbox27">Pick up & Drop</label>
                          </div>
                        </div>
                        <div class="col-md-4 col-lg-4 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox28" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox28">Socialising</label>
                          </div>
                        </div>
                        <div class="col-md-4 col-lg-4 g-1">
                          <div class="form-check checkbox mb-0">
                            <input class="form-check-input" id="checkbox29" type="checkbox" data-bs-original-title=""
                              title="">
                            <label class="form-check-label my-0" for="checkbox29">Others</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Smart Wizard Ends-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- latest jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="/js/icons/feather-icon/feather.min.js"></script>
    <script src="/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <!-- Sidebar jquery-->
    <script src="/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="/js/form-wizard/form-wizard-five.js"></script>
    <script src="/js/tooltip-init.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="/js/script.js"></script>
    <!-- <script src="/js/theme-customizer/customizer.js"></script> -->
    <!-- Plugin used-->
  </div>
</body>

</html>